@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');

body
{
	background-color: #7ae4e0;
	font-family: PT Sans;
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-owerflow-scrolling: touch;

	margin-top: 70px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: PT Sans Caption;
	font-weight: 300px;
	color: #333;
}

p
{
	line-height: 22px;
	margin-bottom: 20px;
}
.centered
{
	text-align: center;
}

a
{
	color: #f85c37;
	font-size: 18px;
}
a:hover, a:focus
{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
.logo
{
	float: left;
	padding-right: 1px;
}

hr
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #FFFF33;
	margin: 1em 0;
	padding: 0;
}

.navbar
{
	font-weight: 800;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-inverse
{
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-brand
{
	color: #999;
	font-weight: bolder;
	font-size: 26px;
	letter-spacing: 2px;
	padding-left: 25px;
}

#headerwrap
{
	background-color: #F4F0D7;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 800px;
	width: 100%;

	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#indicators p
{
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

#headerwrap h1
{
	margin-top: 100px;
	color: #2B355F ;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2
{
	margin-top: 100px;
	color: #1D2D6D ;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.w
{
	padding-top: 35px;

}
.w h4
{
	font-size: 25px;
}

#dg
{
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	align: center;
}

#dg h4
{
	font-size: 40px;
}

.tilt
{
	-webkit-transition: all 0.5s ease;
	-mos-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-transition: all 0.5s ease;
}

.tilt:hover
{
	-webkit-transform: rotate(-10deg);
	-mos-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-transform: rotate(-10deg);
}

.wb
{
	/*background: url('../img/img_large.png') no-repeat center top;*/
	background-color: #7ae4e0;
	margin-top: -10px;
	margin-bottom: 0;
	padding-top: 35px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 200px;
	width: 100%;

	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.wb h4
{
	font-size: 30px;
}

.table
{
	font-size: 18px;
}

.tb h4
{
	font-size: 30px;
}

.inf h4
{
	font-size: 30px;
}

.inf p
{
	text-align: left;
	font-size: 20px;
	color: #000000;
	font-weight: 600;
}
.home
{
	background: url('../img/bg1.png') no-repeat center;
	padding-top: 60px;
	margin-top:10px;
	width: 100%;
	min-height: 800px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.home p
{
	text-align: center;
	font-weight: 600;
	color: #000000;
}
.home h5
{
	font-size: 24px;
	font-weight: 600;
	color: #000000;
}
.tech p
{
	background-color: #7ae4e0;
	font-weight: 600;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.price
{
	background: url('../img/img_large.png') no-repeat center;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.inf
{
	width: 100%;
}
.wb p
{
	font-size: 22px;
	color: #1D2D6D;
}

.wb a
{
	font-size: 22px;
	color: #1D2D6D;
}
